{% extends 'base.html.twig' %}

{% block title %}
	Mon panier - Boutique 4o4
{% endblock %}

{% block content %}
	<div class="card mb-5">
		<div class="row">
			<div class="col-md-8 cart">
				<div class="title">
					<div class="row">
						<div class="col">
							<h4>
								<b>Mon Panier</b>
							</h4>
						</div>
						<div class="col align-self-center text-right text-muted">
							{{ cart|length }} produit{% if (cart|length) != 1 %}s{% endif %}
						</div>
					</div>
				</div>
				{% set total = null %}
				{% if (cart|length) > 0 %}
					{% for product in cart %}
						<div class="row border-top border-bottom">
							<div class="row main align-items-center">
								<div class="col-2">
									<img class="img-fluid" src="/uploads/{{ product.product.illustration }}" />
								</div>
								<div class="col">
									<div class="row text-muted">
										{{ product.product.category }}
									</div>
									<div class="row">
										{{ product.product.name }}
									</div>
								</div>
								<div class="col">
									<a href="{{
										path(
											'decrease_to_cart',
											{
												id: product.product.id
											}
										)
										}}">
										-
									</a><a href="#" class="border">{{ product.quantity }}</a><a href="{{
										path(
											'add_to_cart',
											{
												id: product.product.id
											}
										)
										}}">
										+
									</a>
								</div>
								<div class="col">
									&euro; {{ (product.product.price * product.quantity / 100)|number_format(2, ',') }}
									<a href="{{
										path(
											'delete_to_cart',
											{
												id: product.product.id
											}
										)
										}}">
										<span class="close">&#10005;</span>
									</a>
								</div>
							</div>
						</div>
						{% set total = total + product.product.price * product.quantity %}
					{% endfor %}
				{% else %}
					<hr />
					<p>
						<b>Votre panier est vide</b>
					</p>
				{% endif %}
				<div class="back-to-shop">
					<a href="{{ path('products') }}">&leftarrow;</a><span class="text-muted">Revenir aux produits</span>
				</div>
			</div>
			<div class="col-md-4 summary">
				<div>
					<h5>
						<b>Résumé de la commande</b>
					</h5>
				</div>
				<hr />
				<div class="row">
					<div class="col" style="padding-left:0;">
						Quantité: {{ cart|length }}
					</div>
					<div class="col text-right">
						&euro; {{ (total / 100)|number_format(2, ',') }}
					</div>
				</div>
				{{
					form_start(
						form,
						{
							action: path('order')
						}
					)
				}}
				{{ form_label(form.addresses) }}
				{{ form_widget(form.addresses) }}
				<a href="{{ path('add_account_address') }}">Ajouter une nouvelle adresse</a>
				{{ form_label(form.carriers) }}
				{{ form_widget(form.carriers) }}
				{{ form_label(form.code) }}
				{{ form_widget(form.code) }}
				<div class="row mt-2" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
					<div class="col">
						Prix total
					</div>
					<div class="col text-right">
						&euro; {{ (total / 100)|number_format(2, ',') }}
					</div>
				</div>
				{{ form_widget(form.submit) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
