{% extends 'base.html.twig' %}

{% block title %}
	Mes adresses - Boutique 4o4
{% endblock %}

{% block content %}
	<a href="{{ path('add_account_address') }}" class="btn btn-sm float-end">Ajouter une adresse</a>
	<h1>
		Gérer mes adresses
	</h1>
	<hr />
	<p>
		C'est dans cet espace que vous pouvez gérer toutes vos adresses.
	</p>
	<a href="{{ path('account') }}">Retourner vers mon compte</a>
	<hr />
	{% if (app.user.addresses|length) == 0 %}
		<p class="text-center account-addresses">
			Vous n'avez pas encore ajouté d'adresse dans votre compte client, pour en ajouter une veuillez vous rendre
			sur <a href="{{ path('add_account_address') }}">cette page</a>.
		</p>
	{% else %}
		<div class="row  account-addresses">
			{% for address in app.user.addresses %}
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">
								{{ address.name }}
							</h5>
							<hr />
							<p class="card-text">
								{{ address.address }}
							</p>
							<p class="card-text">
								{{ address.postal }} - {{ address.city }} - {{ address.country }}
							</p>
							<a href="{{
								path(
									'edit_account_address',
									{
										id: address.id
									}
								)
								}}"
								class="btn">
								Modifier
							</a>
							<a href="{{
								path(
									'delete_account_address',
									{
										id: address.id
									}
								)
								}}"
								class="btn btn-outline-danger">
								Supprimer
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
