{% extends 'base.html.twig' %}

{% block title %}
	Mon compte - Boutique 4o4
{% endblock %}

{% block content %}
	<h1>
		Mon compte
	</h1>
	<hr />
	<p class="account-hi">
		Bonjour {{ app.user.firstname|capitalize }} 👋
	</p>
	<ul class="card account-list text-center">
		<li class="m-1"><i class="fas fa-key"></i> <a class="account-list-link" href="{{ path('account_password') }}">Modifier mon mot de passe</a></li>
		<li class="m-1"><i class="fas fa-address-book"></i> <a class="account-list-link" href="{{ path('account_address') }}">Gérer mes adresses</a></li>
		<li class="m-1"><i class="fas fa-shopping-cart"></i> <a class="account-list-link" href="{{ path('account_order') }}">Gérer mes commandes</a></li>
	</ul>
{% endblock %}