{% extends 'base.html.twig' %}

{% block title %}
	Mes commandes - Boutique 4o4
{% endblock %}

{% block content %}
	<h1>
		Gérer mes commandes
	</h1>
	<hr />
	<p>
		C'est dans cet espace que vous pouvez gérer toutes vos commandes.
	</p>
	<a href="{{ path('account') }}">Retourner vers mon compte</a>
	<hr />
	{% if (orders|length) == 0 %}
		<p class="text-center">
			Vous n'avez pas encore passé de commande sur notre site
		</p>
	{% else %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">
						Référence
					</th>
					<th scope="col">
						Statut
					</th>
					<th scope="col">
						Commandé le
					</th>
					<th scope="col">
						Produit(s)
					</th>
					<th scope="col">
						Total
					</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
					<tr>
						<td>
							<span class="badge bg-secondary">{{ order.reference }}</span>
						</td>
						<td>
							{% if order.state == 1 %}
								Commande validée
							{% elseif order.state == 2 %}
								Préparation en cours
							{% elseif order.state == 3 %}
								Livraison en cours
							{% elseif order.state == 4 %}
								Commande livrée
							{% endif %}

						</td>
						<td>
							{{ order.createdAt|date('d/m/Y') }}
						</td>
						<td>
							{{ order.orderDetails|length }}
						</td>
						<td>
							{{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',') }} €
						</td>
						<td class="text-end">
							<a href="{{
								path(
									'account_order_show',
									{
										reference: order.reference
									}
								)
								}}">
								Voir ma commande
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
