{% extends 'base.html.twig' %}

{% block title %}
	Ma Facture - Boutique 4o4
{% endblock %}

{% block javascript %}
	<link href="{{ asset('assets/css/print.css') }}" media="print" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div id="printable" class="invoice-box">
		<table cellpadding="0" cellspacing="0">
			<tr class="top">
				<td colspan="2">
					<table>
						<tr>
							<td class="title">
								<img src="{{ asset('assets/img/logo.png') }}" style="width:100%; max-width:300px;" />
							</td>

							<td>
								Reference: {{ order.reference }}<br />
								Commandé le: {{ order.createdAt|date('d/m/Y') }}
							</td>
						</tr>
					</table>
				</td>
			</tr>

			<tr class="information">
				<td colspan="2">
					<table>
						<tr>
							<td>
								Boutique 4o4<br />
								15 rue des lilas<br />
								75000 Paris Cedex
							</td>

							<td>
								{{ order.user.lastname|capitalize }} {{ order.user.firstname|capitalize }}<br />
								{{ order.user.email }}
							</td>
						</tr>
					</table>
				</td>
			</tr>

			<tr class="heading">
				<td>
					Méthode de paiement
				</td>
				<td></td>
			</tr>

			<tr class="details">
				<td>
					Carte bancaire
				</td>
				<td></td>
			</tr>

			<tr class="heading">
				<td>
					Produit(s)
				</td>

				<td>
					Prix
				</td>
			</tr>
			{% for product in order.orderDetails %}
				<tr class="item">
					<td>
						{{ product.product }} x{{ product.quantity }}
					</td>

					<td>
						{{ (product.price / 100)|number_format(2, ',') }} €
					</td>
				</tr>
			{% endfor %}

			<tr class="item last">
				<td>
					Livraison via {{ order.carrierName }}
				</td>

				<td>
					{{ (order.carrierPrice / 100)|number_format(2, ',') }} €
				</td>
			</tr>

			<tr class="total">
				<td></td>

				<td>
					Total: {{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',') }} €
				</td>
			</tr>
		</table>
		<button id="print" class="btn btn-block mt-5" onclick="window.print()">Imprimer</button>
	</div>
{% endblock %}
