{% extends 'base.html.twig' %}

{% block title %}
	Ma commande - Boutique 4o4
{% endblock %}

{% block content %}
	<h1>
		Ma commande {{ order.reference }}
	</h1>
	<hr />
	<p>
		Voici le détail de votre commande.
	</p>
	<a href="{{ path('account_order') }}">Retourner vers mes commandes</a>
	<hr />
	<p class="p-0 m-0">
	<strong>Statut de la commande:</strong> 
								{% if order.state == 1 %}
								Commande validée
							{% elseif order.state == 2 %}
								Préparation en cours
							{% elseif order.state == 3 %}
								Livraison en cours
							{% elseif order.state == 4 %}
								Commande livrée
							{% endif %}
	</p>
	<p class="p-0 m-0">
		<strong>Commande passée le:</strong> {{ order.createdAt|date('d/m/Y') }}
	</p>
	<p class="p-0 m-0">
		<strong>Référence de la commande:</strong> <small>{{ order.reference }}</small>
	</p>
	<p class="p-0 m-0">
		<strong>Transporteur choisi:</strong> {{ order.carrierName }}
	</p>
		<strong>Facture:</strong>
		<a href="{{
			path(
				'account_order_bill',
				{
					reference: order.reference
				}
			)
			}}">
			Télécharger
		</a>
	</p>
	<hr />
	<h2 class="h3">
		Détails
	</h2>
	<table class="table mt-4">
		<thead>
			<tr>
				<th>
					Produit
				</th>
				<th>
					Quantité
				</th>
				<th>
					Prix Unitaire
				</th>
				<th>
					Total
				</th>
			</tr>
		</thead>
		<tbody>
			{% for product in order.orderDetails %}
				<tr>
					<td>
						{{ product.product }}
					</td>
					<td>
						x{{ product.quantity }}
					</td>
					<td>
						{{ (product.price / 100)|number_format(2, ',') }}
					</td>
					<td>
						{{ (product.total / 100)|number_format(2, ',') }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="text-end">
		<p class="p-0 m-0">
			<strong>Sous Total:</strong> {{ (order.getTotal / 100)|number_format(2, ',') }} €
		</p>
		<p class="p-0 m-0">
			<strong>Livraison:</strong> {{ (order.carrierPrice / 100)|number_format(2, ',') }} €
		</p>
		<p class="p-0 m-0">
			<strong>Total:</strong> {{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',') }} €
		</p>
	</div>
{% endblock %}
