{% extends 'base.html.twig' %}

{% block title %}
	Modifier mon mot de passe - Boutique 4o4
{% endblock %}

{% block content %}
	<h1>
		Modifier mon mot de passe
	</h1>
	<a href="{{ path('account') }}">Retourner à mon compte</a>
	<hr />
	{% if notification and success == true %}
		<div class="alert alert-success">
			{{ notification }}
		</div>
	{% elseif notification and success == false %}
		<div class="alert alert-danger">
			{{ notification }}
		</div>
	{% endif %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	<hr />
{% endblock %}
