{% extends 'base.html.twig' %}

{% block title %}
	Se connecter - Boutique 4o4
{% endblock %}

{% block content %}
	<div class="block-small">
		<form method="post">


			{% if app.user %}
				<div class="mb-3">
					You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">
				Veuillez vous connecter
			</h1>
			{% for message in app.flashes('notice') %}
			<div class="alert alert-info">{{message}}</div>
		{% endfor %}
			{% if error %}
				<div class="alert alert-danger">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}
			<label for="inputEmail">Email</label>
			<input placeholder="Votre adresse email"
				type="email"
				value="{{ last_username }}"
				name="email"
				id="inputEmail"
				class="form-control"
				required
				autofocus />
			<label for="inputPassword">Mot de passe</label>
			<input placeholder="Votre mot de passe"
				type="password"
				name="password"
				id="inputPassword"
				class="form-control"
				required />

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

			<button class="btn btn-block mt-2" type="submit">Se connecter</button>
			<hr />
			<p class="text-center">
				<a href="{{ path('reset_password') }}">Mot de passe oublié</a> ?
			</p>
			<p class="text-center">
				Ou souhaitez-vous <a href="{{ path('register') }}">créer une compte</a> ?
			</p>
		</form>
	</div>
{% endblock %}
