{% extends 'base.html.twig' %}

{% block title %}
	Erreur de paiement - Boutique 4o4
{% endblock %}

{% block content %}
	<h1>
		Erreur de paiement
	</h1>
	<p>
		Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>, il semblerait que votre paiement
		est échoué pour votre commande n°<strong>{{ order.reference }}</strong>.
	</p>
	<p>
		Une confirmation d'erreur vient de vous être envoyé par email à l'adresse <strong>
			{{ order.user.email }}
		</strong>.
	</p>
	<a class="btn" href="{{ path('cart') }}">Réessayer le paiement</a>
{% endblock %}
