{% extends 'base.html.twig' %}

{% block carousel %}

{% endblock %}

{% block content %}
	<!-- Three best products below the carousel -->
	<h3>
		Nos meilleures ventes:
	</h3>
	<div class="row">
		{% for product in products %}
			<div class="col-md-4">
				{% include 'product/single_product.html.twig' %}
			</div>
		{% endfor %}
	</div>
	<!-- /.row -->

	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">
				Une équipe de professionnels <span class="text-muted">avec un grand savoir-faire.</span>
			</h2>
			<p class="lead">
				Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
				Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
				commodo.
			</p>
		</div>
		<div class="col-md-5">
			<img src="{{ asset('assets/img/front-1.jpg') }}" class="img-fluid" alt="mannequin de couture" />
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">
				Venez nous rencontrer dans nos <span class="text-muted">boutiques en France.</span>
			</h2>
			<p class="lead">
				Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
				Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
				commodo.
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="{{ asset('assets/img/front-2.jpg') }}" class="img-fluid" alt="boutique ouverte" />
		</div>
	</div>

	<!-- /END THE FEATURETTES -->
{% endblock %}
