{% extends 'base.html.twig' %}

{% block title %}
	Mot de passe oublié - Boutique 4o4
{% endblock %}

{% block content %}
	<div class="block-small">
		{% for message in app.flashes('notice') %}
			<div class="alert alert-info">{{message}}</div>
		{% endfor %}
		<form method="post">
			<h1 class="h3 mb-3 font-weight-normal">
				Réinitialiser votre mot de passe
			</h1>
			<label for="inputEmail">Email</label>
			<input placeholder="Votre adresse email"
				type="email"
				name="email"
				id="inputEmail"
				class="form-control"
				required
				autofocus />


			<button class="btn btn-block mt-2" type="submit">Valider</button>
			<hr />
			<p class="text-center">
				Ou souhaitez-vous <a href="{{ path('app_login') }}">vous connecter</a> ?
			</p>
		</form>
	</div>
{% endblock %}
