{% extends 'base.html.twig' %}

{% block title %}
	Mot de passe oublié - Boutique 4o4
{% endblock %}

{% block content %}
	<div class="block-small">
				<h1 class="h3 mb-3 font-weight-normal">
				Réinitialiser votre mot de passe
			</h1>
					{% for message in app.flashes('notice') %}
			<div class="alert alert-info">{{message}}</div>
		{% endfor %}
		{% for message in app.flashes('notice') %}
			<div class="alert alert-info">{{message}}</div>
		{% endfor %}
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
