header, #print, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
    display: none;
  }
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#printable {
    min-height: 90vh;
}