@font-face {
	font-family: "Proxima Nova Regular";
	src: url("../fonts/ProximaNova-Regular.otf") format("truetype")
   }
   :root {
	--primary: #5f80c4;
	--secondary: #eaedf9;
	--darker: #32353C;
	--gold: #B79B6C;
	--font-default: "Proxima Nova Regular", sans-serif;
}
* {
	box-sizing: border-box;
}
body {
	position: relative;
	font-family: var(--font-default);
}
hr {
	color: var(--primary) !important;
    height: 0.1em !important;
    border-width: 0 !important;
    background-color: var(--primary) !important;
}
p {
	color: var(--darker) !important;
}
/* Navbar */
.navbar-dark {
	background-color: var(--secondary) !important;
}
.navbar-dark .navbar-nav .nav-link, ul.navbar-item-custom > li > a {
	color: var(--darker);
	text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link:hover, ul.navbar-item-custom > li > a:hover {
	color: var(--darker);
}

ul.navbar-item-custom {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
ul.navbar-item-custom > li:nth-child(1) {
	margin-right: 0.7em;
}
ul.navbar-item-custom > li {
	text-decoration: none;
	list-style: none;
}
.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav-link {
	padding: 0 !important;
	margin-right: 1em;
}
.thin { font-weight: 300; }
.thick { font-weight: 900; }
/* linkfive */
  .link-5 a {
	text-transform: uppercase;
	color: var(--darker);
	text-decoration: none;
	position: relative;
	display: block;
  }
  .link-5 a:hover {
	  color: var(--darker);
  }
  
.link-5 a:before {
	content: '';
	border-bottom: solid 1px var(--primary);
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
  }
  
  .link-5 a:hover:before {
	-webkit-transform: scaleY(4);
	   -moz-transform: scaleY(4);
		-ms-transform: scaleY(4);
		 -o-transform: scaleY(4);
			transform: scaleY(4);
	border-bottom: solid thin var(--darker);
  }
  
  .link-5 a:before {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }

.footer-custom {
	text-align: center;
	position: absolute;
	width: 100%;
	background-color: var(--secondary);
	padding-top: 1.5em;
	z-index: 4;
	margin-top: 100px;
}

/* produts */
.product__content > h5.product__title {
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 1em;
}
.product__content > p.product__subtitle {
	font-size: 13px;
	line-height: 1.4;
	color: var(--gold);
	margin: 20px 0;
}
.product__content > a.product__price {
	font-size: 15px;
	font-weight: bold;
}

.product__wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 12em;
}

.product__outer {
	background: var(--secondary);
	filter: brightness(106%);
	height: 300px;
	width: 410px;
	display: flex;
	align-items: center;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	justify-content: center;
	margin-top: 1.4em;
}

.form-check-input:checked {
	background-color: var(--primary);
	border-color: var(--primary);
}
img {
	z-index: 0;
	animation-delay: 0.5s;
}

.product__content {
	animation-delay: 0.3s;
	z-index: 3;
	max-width: 250px;
}

h5 {
	color: var(--darker);
}

.product__bg {
	display: inline-block;
	background: var(--primary);
	color: var(--secondary);
	padding: 5px 10px;
	border-radius: 50px;
	font-size: 0.7em;
}
.button {
	width: fit-content;
	height: fit-content;
	margin-top: 10px;
}

.button a {
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 11px;
	color: var(--darker);
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid var(--primary);
	font-weight: bold;
	text-transform: uppercase;
}

.button a:nth-child(2):after,
.button a:nth-child(3):after {
	content: "";
	position: absolute;
	top: 0;
	right: -10px;
	width: 0%;
	background: var(--primary);
	height: 100%;
	z-index: -1;
	transition: width 0.3s ease-in-out;
	transform: skew(-25deg);
	transform-origin: right;
}

.button a:hover:after {
	width: 150%;
	left: -10px;
	transform-origin: left;
}

.button a:hover {
	color: var(--secondary);
	transition: all 0.5s ease;
}
.button a:nth-child(1):hover {
	color: var(--darker);
	cursor: default;
}

.button a:nth-of-type(1) {
	border-radius: 50px 0 0 50px;
	border-right: none;
}

.button a:nth-of-type(2) {
	border-right: none;
}

.button a:nth-of-type(3) {
	border-radius: 0px 50px 50px 0;
}

.cart-icon {
	padding-right: 8px;
}

/* Detail product */
.product__detail__buttons {
	padding: 0;
}
.product__detail__price {
	font-size: 16px;
	font-weight: bold;
}

/* Cart */
.title {
	margin-bottom: 5vh;
}

.card {
	margin: auto;
	max-width: 950px;
	width: 90%;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1rem;
	border: transparent;
}

@media (max-width: 767px) {
	.card {
		margin: 3vh auto;
	}
}

.cart {
	background-color: var(--secondary);
	padding: 4vh 5vh;
	border-bottom-left-radius: 1rem;
	border-top-left-radius: 1rem;
}

@media (max-width: 767px) {
	.cart {
		padding: 4vh;
		border-bottom-left-radius: unset;
		border-top-right-radius: 1rem;
	}
}

.summary {
	background-color: var(--primary);
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	padding: 4vh;
	color: var(--secondary);
}
.summary > div > h5 {
	color: var(--secondary)
}

@media (max-width: 767px) {
	.summary {
		border-top-right-radius: unset;
		border-bottom-left-radius: 1rem;
	}
}

.summary .col-2 {
	padding: 0;
}

.summary .col-10 {
	padding: 0;
}

.cart > .title > .row {
	margin: 0;
}

div.col-md-4.summary > form > label:nth-child(4) {
	margin-top: 20px;
}

.title b {
	font-size: 1.5rem;
}

.main {
	margin: 0;
	padding: 2vh 0;
	width: 100%;
}

.col-2,
.col {
	padding: 0 1vh;
}

.cart a {
	padding: 0 1vh;
	text-decoration: none;
}

.close {
	margin-left: auto;
	font-size: 0.7rem;
}

div.col-md-8.cart > div > div > div.col-2 > img {
	width: 3.5rem;
}

.back-to-shop {
	margin-top: 4.5rem;
}

.summary > h5 {
	margin-top: 4vh;
}

.summary > form {
	padding: 2vh 0;
}

div.col-md-4.summary > form > label {
	font-weight: 500;
}

#order_addresses, #order_carriers {
	border: 1px solid rgba(0, 0, 0, 0.137);
	padding: 1.5vh 1vh;
	margin-bottom: 2vh;
	outline: none;
	width: 100%;
	background-color: var(--secondary);
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='32' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}
select#order_addresses:focus {
    color: var(--darker);
}
.form-control:focus, .form-check:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	border-color:var(--primary) !important;
}
input[type="checkbox"]:focus {
    border-color: var(--primary);
    box-shadow: none;
}
.btn:focus {
    outline: 0 !important;
}

.summary > form > #id input {
	border: 1px solid rgba(0, 0, 0, 0.137);
	padding: 1vh;
	margin-bottom: 4vh;
	outline: none;
	width: 100%;
	background-color: var(--secondary);
}

.summary > form input:focus::-webkit-input-placeholder {
	color: transparent;
}

.btn-block, #order_submit {
	background-color: var(--primary);
	border-color: var(--primary);
	color: var(--secondary);
	width: 100%;
	font-size: 0.7rem;
	padding: 1vh;
	border-radius: 0;
}

.btn-block:focus, #order_submit:focus {
	box-shadow: none;
	outline: none;
	box-shadow: none;
	color: var(--secondary);
	-webkit-box-shadow: none;
	user-select: none;
	-webkit-user-select: none;
	transition: none;
}
.btn {
	background-color: var(--primary);
	border-color: var(--primary);
	color: var(--secondary);
	font-size: 0.7rem;
	padding: 1vh;
	border-radius: 0;
}
.btn:focus {
	box-shadow: none;
	outline: none;
	box-shadow: none;
	color: var(--secondary);
	-webkit-box-shadow: none;
	user-select: none;
	-webkit-user-select: none;
	transition: none;
}

div.col-md-4.summary > button.btn:hover {
	color: var(--secondary);
}

a {
	color: var(--darker);
}

a:hover {
	color: var(--darker);
	text-decoration: none;
}

/* Cart Icon */
.cart-icon {
	height: 20px;
}

/* Login */
.block-small {
	max-width: 600px;
	margin: 0 auto;
}
button.btn.btn-info.btn-block.mt-2 {
    min-width: 100%;
}

/* order Details */
div.col-md-8.cart > div.row.border-top.border-bottom > div > div > p {
	margin-top: 10px;
}

/* Bill */
.invoice-box {
	max-width: 800px;
	margin: auto;
	padding: 30px;
	border: 1px solid var(--secondary);
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	font-size: 16px;
	line-height: 24px;
	font-family: var(--font-default);
	color: var(--darker);
}

.invoice-box table {
	width: 100%;
	line-height: inherit;
	text-align: left;
}

.invoice-box table td {
	padding: 5px;
	vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
	text-align: right;
}

.invoice-box table tr.top table td {
	padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
	font-size: 45px;
	line-height: 45px;
	color: var(--darker);
}

.invoice-box table tr.information table td {
	padding-bottom: 40px;
}

.invoice-box table tr.heading td {
	background: var(--secondary);
	border-bottom: 1px solid var(--secondary);
	font-weight: bold;
}

.invoice-box table tr.details td {
	padding-bottom: 20px;
}

.invoice-box table tr.item td{
	border-bottom: 1px solid var(--secondary);
}

.invoice-box table tr.item.last td {
	border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
	border-top: 2px solid var(--secondary);
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	.invoice-box table tr.top table td {
		width: 100%;
		display: block;
		text-align: center;
	}
	
	.invoice-box table tr.information table td {
		width: 100%;
		display: block;
		text-align: center;
	}
}
.btn:hover {
	background-color: var(--secondary) !important;
	color: var(--primary);
}
.btn-primary {
	background-color: var(--primary) !important;
	color: var(--secondary) !important;
	border-color: var(--primary) !important;
	outline: 0 none;
}
.btn-primary:hover {
	background-color: var(--secondary) !important;
	color: var(--primary) !important;
	border-color: var(--primary) !important;
	outline: 0 none;
}
/* Carrousel */

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	height: 32rem;
  }

  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background-size: cover !important;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
  .swiper-slide.swiper-slide-active {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
}
.swiper-content {
	text-align: start;
	margin-left: 5em;
	color: var(--secondary);
}
.swiper-button-next, .swiper-button-prev {
	color: var(--primary) !important;
}
.swiper-pagination-bullet-active {
	background-color: var(--primary) !important;
}

/* Notifications */
.alert-info {
    color: var(--primary) !important;
    background-color: var(--secondary) !important;
    border-color: var(--primary) !important;
}
/* User Account */
.account-list {
	list-style: none;
}
.account-list .account-list-link {
	text-decoration: none;
	font-size: 1.1em;
}
.account-list .account-list-link:hover {
	text-decoration: underline;
	color: var(--primary);
}
.account-hi {
	font-size: 2em;
	text-align: center;
}
ul.card.account-list.text-center {
    width: 35%;
	margin-bottom: 20em;
}

/* User Addresses */
.account-addresses {
    margin-bottom: 26rem;
}

/* Page 404 */
.c{
	text-align: center;
	display: block;
	position: relative;
	width:80%;
	margin:100px auto;
}
._404{
	font-size: 220px;
	position: relative;
	display: inline-block;
	z-index: 2;
	height: 250px;
	letter-spacing: 15px;
}
._1{
	text-align:center;
	display:block;
	position:relative;
	letter-spacing: 12px;
	font-size: 4em;
	line-height: 80%;
}
._2{
	text-align:center;
	display:block;
	position: relative;
	font-size: 20px;
}
.c-text{
	font-size: 70px;
	text-align: center;
	position: relative;
	display: inline-block;
	margin: 19px 0px 0px 0px;
	/* top: 256.301px; */
	z-index: 3;
	width: 100%;
	line-height: 1.2em;
	display: inline-block;
}
.c-btn{
	background-color: var(--secondary);
	position: relative;
	display: inline-block;
	width: 358px;
	padding: 5px;
	z-index: 5;
	font-size: 25px;
	margin:0 auto;
	color:var(--primary);
	text-decoration: none;
	margin-right: 10px
}
.c-right{
	float:right;
	width:60%;
}
.c-hr{
	padding: 0;
	border: none;
	border-top: 5px solid #fff;
	color: #fff;
	text-align: center;
	margin: 0px auto;
	width: 420px;
	height:10px;
	z-index: -10;
	background-color: var(--secondary) !important;
}

.cloud {
	width: 350px; height: 120px;
	background: var(--primary);

	background: #FFF;
	background: linear-gradient(top, #FFF 100%);
	background: -webkit-linear-gradient(top, #FFF 100%);
	background: -moz-linear-gradient(top, #FFF 100%);
	background: -ms-linear-gradient(top, #FFF 100%);
	background: -o-linear-gradient(top, #FFF 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: absolute;
	margin: 120px auto 20px;
	z-index:-1;
	transition: ease 1s;
}
.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #FFF;
	z-index: -1
}

.cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;

	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.x1 {
	top:-50px;
	left:100px;
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
	opacity: 0.9;
	-webkit-animation: moveclouds 15s linear infinite;
	animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

.x1_5{
	top:-80px;
	left:250px;
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
	-webkit-animation: moveclouds 17s linear infinite;
	-moz-animation: moveclouds 17s linear infinite;
	animation: moveclouds 17s linear infinite;
	-o-animation: moveclouds 17s linear infinite;
}

.x2 {
	left: 250px;
	top:30px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; 
	-webkit-animation: moveclouds 25s linear infinite;
	animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: 250px; bottom: -70px;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.8; 

	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x4 {
	left: 470px;
	bottom: 20px;

	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75;

	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: 200px;
	top: 300px;

	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0.8; 

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@keyframes moveclouds {
		0% {margin-left: 1000px;}
		100% {margin-left: -1000px;}
	}
@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}