{% extends 'base.html.twig' %}

{% block title %}
	Nos produits - Boutique 4o4
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-3">
			<h3>
				Filtrer
			</h3>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
		<div class="col-md-9">
			<div class="row">
				<h3>
					Nos produits
				</h3>
				<div class="product__wrapper">
					{% for product in products %}
						{% include "product/single_product.html.twig" %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
