{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }} - Boutique 4o4
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-5">
			<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" />
		</div>
		<div class="col-md-7 my-auto">
			<h3>
				{{ product.name }}
			</h3>
			<p>
				{{ product.subtitle }}
			</p>
			<p class="product__detail__price">
				{{ (product.price / 100)|number_format(2) }} €
			</p>
			<hr />
			<p>
				{{ product.description }}
			</p>
			<hr />
			<div class="col-md-12 product__detail__buttons">
				<a href="{{ path('products') }}" class="btn btn-outline-dark">Retour</a>
				<a href="{{
					path(
						'add_to_cart',
						{
							id: product.id
						}
					)
					}}"
					class="btn">
					Ajouter au panier
				</a>
			</div>
		</div>
	</div>
	<hr>
		<!-- Three best products below the carousel -->
	<h3>Nos meilleures ventes:</h3>
	<div class="row">
		{% for product in products %}
			<div class="col-md-4">
			{% include "product/single_product.html.twig" %}
			</div>
		{% endfor %}
	</div>
	<!-- /.row -->
{% endblock %}
