<div class="product__outer">
							<div class="product__content animated fadeInLeft">
                                {% if product.isBest == true %}
                                    <span class="product__bg animated fadeInDown">EXCLUSIVE</span>
                                {% endif %}
								<h5 class="product__title">
									{{ product.name }}
								</h5>
								<p class="product__subtitle">
									{{ product.subtitle }}
								</p>
								<div class="button">
									<a class="product__price" href="#">{{ (product.price / 100)|number_format(2) }}€</a><a class="product__view"
										href="{{
										path(
											'product',
											{
												slug: product.slug
											}
										)
										}}">
										Détails
									</a><a class="cart-btn" href="{{ path('add_to_cart',{id: product.id}) }}">
										<i style="display: inline;" class="fas fa-cart-plus cart-icon"></i>Ajouter
									</a>
								</div>
							</div>
							<img src="/uploads/{{ product.illustration }}" width="150px" class="animated fadeInRight" />
						</div>