{% extends 'base.html.twig' %}

{% block content %}
	<h1>
		Inscription
	</h1>
	{% if notification_error %}
		<div class="alert alert-warning">{{notification_error}}</div>
	{% endif %}
		{% if notification_success %}
		<div class="alert alert-success">{{notification_success}}</div>
	{% endif %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}
