{% extends 'base.html.twig' %}

{% block title %}
	Nous contacter - Boutique 4o4
{% endblock %}

{% block content %}
	<h1 class="h2">
		Nous contacter
	</h1>
    	{% for message in app.flashes('notice') %}
			<div class="alert alert-info">{{message}}</div>
		{% endfor %}
	<div class="row">
		<div class="col-md-8">
			{{ form(form) }}
		</div>
		<div class="col-md-4">
			<strong>Boutique 4o4</strong>
			<hr />
			<p>
				06.20.30.40.50
			</p>
			<p>
				8 rue de la Victoire, 75000 Paris
			</p>
			<p>
				contact@boutique-404.fr
			</p>
		</div>
	</div>
{% endblock %}
