<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="Boutique 4o4 est une boutique e-commerce made in France" />
		<meta name="author" content="Mathieu Piton" />
		<title>
			{% block title %}
				Boutique 4o4
			{% endblock %}
		</title>

		<!-- Bootstrap core CSS -->
		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" />

		<style>
			.bd-placeholder-img { font-size: 1.125rem; text-anchor: middle; -webkit-user-select: none; -moz-user-select:
			none; -ms-user-select: none; user-select: none; }

			@media (min-width: 768px) { .bd-placeholder-img-lg { font-size: 3.5rem; } }
		</style>
		<!-- Custom styles for this template -->
		<link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
		<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
		{% block javascript %}
		{% endblock %}
	</head>
	<body>
		<header id="header">
			<nav class="navbar navbar-expand-md navbar-dark fixed-top">
				<a class="navbar-brand" href="{{ path('home') }}">
				 <img src="{{asset('assets/img/logo-v2.png')}}" alt="logo de la boutique" class="d-inline-block align-top">
				</a>
				<ul class="navbar-nav mr-auto">
							<li>
		<div class="link-5">
        <a class="nav-link" href="{{ path('products') }}">
          <span class="thin">Nos produits</span>
        </a>
      </div></li>
		<li>
		<div class="link-5">
        <a class="nav-link" href="#">
          <span class="thin">Qui sommes nous ?</span>
        </a>
      </div></li>
		<li>
		<div class="link-5">
        <a class="nav-link" href="{{path('contact')}}">
          <span class="thin">Contact</span>
        </a>
      </div></li>
				</ul>
				<ul class="navbar-item-custom">
					{% if app.user %}
					<li>
		<div class="link-5">
        <a class="nav-link" href="{{ path('account') }}">
          <span class="thin">Mon compte</span>
        </a>
      </div></li>
	  {% if is_granted('ROLE_ADMIN') %}
	<li>
		<div class="link-5">
        <a class="nav-link" href="/admin">
          <span class="thin">Admin</span>
        </a>
      </div></li>
	  {% endif %}
								<li>
		<div class="link-5">
        <a class="nav-link" href="{{ path('app_logout') }}">
          <span class="thin">Déconnexion</span>
        </a>
      </div></li>
					{% else %}
		<li>
		<div class="link-5">
        <a class="nav-link" href="{{ path('app_login') }}">
          <span class="thin">Connexion</span>
        </a>
      </div></li>
	  		<div class="link-5">
        <a class="nav-link" href="{{ path('register') }}">
          <span class="thin">Inscription</span>
        </a>
      </div>
					{% endif %}
				</ul>
				<a class="nav-cart" href="{{ path('cart') }}">
					{% include "home/cart_image.html.twig" %}
				</a>

			</nav>
		</header>
		

		<main role="main">
			{% if block('carousel') is defined %}
<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    
	{% for key,header in headers %}
	<div class="swiper-slide" style='background: url("/uploads/{{header.illustration}}");'>
	<div class="swiper-content">
		<h1>{{header.title}}</h1>
		<div class="text">
			<p>{{header.content}}</p>
		</div>		
		<p>
			<a class="btn btn-lg btn-primary" href="{{header.btnUrl}}" role="button">{{header.btnTitle}}</a>
		</p>
	</div>
	</div>
			{% endfor %}

  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
			{% endif %}

			{# Marketing Carousel #}
			<div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}">
				{% block content %}
				
				{% endblock %}
			</div>
			<!-- /.container -->

			<!-- FOOTER -->
			<footer class="footer-custom">
				<p>
					&copy; {{ 'now'|date('Y') }} Boutique 4o4 <br />
					<small>La boutique 100% made in France</small> <br />
					<a href="#">Privacy</a>
					<a href="#">Terms</a>
				</p>
			</footer>
		</main>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="{{ asset('/assets/js/bootstrap.bundle.min.js') }}"></script>
		<script src="https://kit.fontawesome.com/23a8296ba9.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	</body>
	{% block script %}
		<script>
		
const swiper = new Swiper('.swiper-container', {
    // Optional parameters
    loop: true,
  
    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },
  
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
		</script>
	{% endblock %}
</html>
