{% extends 'base.html.twig' %}

{% block title %}
	Confirmation de ma commande - Boutique 4o4
{% endblock %}

{% block content %}
	<h1>
		Confirmation de la commande
	</h1>
	<p>
		Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>, nous vous remercions pour votre
		commande n°<strong>{{ order.reference }}</strong>.
	</p>
	<p>
		Une confirmation vient de vous être envoyé par email à l'adresse <strong>{{ order.user.email }}</strong>.
	</p>
	<hr />
	<p>
		Votre commande sera livrée par <strong>{{ order.carrierName }}</strong> à l'adresse suivante:
	</p>
	<div class="order__success w-25">
		{{ order.delivery|raw }}
	</div>
	<hr />Pour suivre votre commande, rendez-vous dans votre <a href="{{ path('account_order') }}">compte</a>.
{% endblock %}
