{% extends 'base.html.twig' %}

{% block javascript %}
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}
	Mon Récapitulatif - Boutique 4o4
{% endblock %}

{% block content %}
	<div class="card mb-5">
		<div class="row">
			<div class="col-md-7 cart">
				<div class="title">
					<div class="row">
						<div class="col">
							<h4>
								<strong>Mon Récapitulatif</strong>
							</h4>
						</div>
					</div>
				</div>
				{% set total = null %}
				{% if (cart|length) > 0 %}
					{% for product in cart %}
						<div class="row border-top border-bottom">
							<div class="row main align-items-center">
								<div class="col-2">
									<img class="img-fluid" src="/uploads/{{ product.product.illustration }}" />
								</div>
								<div class="col">
									<div class="row text-muted">
										{{ product.product.category }}
									</div>
									<div class="row">
										{{ product.product.name }}
									</div>
								</div>
								<div class="col">
									<p>
										x {{ product.quantity }}
									</p>
								</div>
								<div class="col">
									&euro; {{ (product.product.price * product.quantity / 100)|number_format(2, ',') }}
								</div>
							</div>
						</div>
						{% set total = total + product.product.price * product.quantity %}
					{% endfor %}
				{% else %}
					<hr />
						<p class="fw-bolder">Votre panier est vide</p>
				{% endif %}
				<div class="back-to-shop">
					<a href="{{ path('cart')}}">&leftarrow;</a><span class="text-muted">Modifier ma commande</span>
				</div>
			</div>
			<div class="col-md-5 summary">
				<div>
					<h5>
						<p class="fw-bolder">Résumé de la commande</p>
					</h5>
				</div>
				<hr />
				<div class="row">
					<div class="col" style="padding-left:0;">
						<p class="fw-bolder">Votre adresse:</p>
						<p>{{delivery|raw}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col" style="padding-left:0;">
						Transporteur:
					</div>
					<div class="col text-right">
						{{carrier.name}}
					</div>
				</div>
				<hr>
				<div class="row mt-2">
					<div class="col">
						Sous-Total
					</div>
					<div class="col text-right">
						&euro; {{ (total / 100)|number_format(2, ',') }}
					</div>
				</div>
				<div class="row mt-2">
					<div class="col">
						Livraison
					</div>
					<div class="col text-right">
						&euro; {{ (carrier.price / 100)|number_format(2, ',') }}
					</div>
				</div>
				<hr>
				<div class="row mt-2">
					<div class="col fw-bolder">
						Total
					</div>
					<div class="col text-right">
						&euro; {{ ((total / 100) +( carrier.price / 100))|number_format(2, ',') }}
					</div>
				</div>
					<button id="checkout-button" class="btn btn-block mt-3 text-light">Payer {{ ((total / 100) + (carrier.price / 100))|number_format(2, ',') }} €</button>
			</div>
		</div>
	</div
{% endblock %}

{% block script %}
	 <script type="text/javascript">
    var stripe = Stripe("pk_test_51ITkA8AbcQsITn9n4d6muxqVN9RWPBFxm8Jry8dHpWHLrEb8UmgTFrg1mJE4LmiP56MzrqJNEZhdKAYeiXTGq0ea00MicU5zHm");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/commande/create-session/{{reference}}", {
        method: "POST",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
			if(session.error == "order") {
				window.location.replace('{{ path('order') }}');
			}else {
				return stripe.redirectToCheckout({ sessionId: session.id });
			}
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>
{% endblock %}
