<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="Boutique 4o4 est une boutique e-commerce made in France" />
		<meta name="author" content="Mathieu Piton" />
		<title>
			{% block title %}
				Page introuvable - Boutique 4o4
			{% endblock %}
		</title>

		<!-- Bootstrap core CSS -->
		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" />

		<style>
			body {
                background-color: #5f80c4;
            }
		</style>
		<!-- Custom styles for this template -->
		<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
	</head>
	<body>
<div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_404'>404</div>
            <hr class="c-hr">
            <div class='_1'>LA PAGE</div>
            <div class='_2'>N'A PAS ÉTÉ TROUVÉ</div>
            <a class='c-btn' href='{{path('home')}}'>REVENIR SUR TERRE</a>
        </div>

</body>
</html>